*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

#header{
    width: 100%;
    background: #f44336;
    padding: 20px;
    color: #fff;
}
#container{
    display: grid;
    grid-template-columns: 20% 78%;
    grid-gap: 2%;
    margin-top: 10px;
}
#container .sidebar{
    background: #ddd;
    min-height: 300px;
    padding: 10px;
}
#container .main{
    background: rgb(255, 187, 187);
    padding: 10px;


}
#footer{
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}